<div v-if="delivery._id" class="overlay">
    <div class="overlay">
        <div style="width: 560px;background: white;border-radius: 4px;position: absolute;top:24px;left: 50%;transform: translateX(-50%);">
            <div class="row ph16 pv12" style="border-bottom: 1px solid #ddd">
                <b class="font16">Delivery Detail</b>
                <i @click="onClose" class="fa fa-times p3 go-right pointer"></i>
            </div>
            <div class="row p16">
                <div class="row mb16">
                    <table style="width: 100%">
                        <thead style="border-bottom: 1px solid #ddd">
                            <th width="50px" class="txt-center"><small>Image</small></th>
                            <th><small>Product</small></th>
                            <th><small>Qty</small></th>
                            <th><small>Size</small></th>
                            <th><small>Color</small></th>
                            <th class="txt-right"><small>Price</small></th>
                        </thead>
                        <tbody>
                            <tr v-for="(item,itemIndex) in delivery.itemList" :key="item._id">
                                <td class="txt-center">
                                    <img :src="item.images && item.images[0] ? item.images[0] : require('@/assets/images/default.jpeg')" style="height:36px" />
                                </td>
                                <td>
                                    <small>{{item.name}}</small>
                                </td>
                                <td><small>{{item.qty}}</small></td>
                                <td><small>{{item.size}}</small></td>
                                <td><small>{{item.color}}</small></td>
                                <td class="txt-right"><small>{{$helper.formatPrice(item.price)}}</small></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p class="item-info">Delivery ID : <span class="font14 go-right">{{delivery._id}}</span></p>
                <p class="item-info">Customer : <span class="font14 go-right">{{delivery.customer.fullname}} <span class="txt-secondary">({{delivery.customer.phone}})</span></span></p>
                <p class="item-info">Driver : <span class="font14 go-right">{{delivery.driver.fullname}} <span class="txt-secondary">({{delivery.driver.phone}})</span></span></p>
                <p class="item-info">Status : <span class="font14 go-right">{{delivery.status}}</span></p>
                <p class="item-info">Created at : <span class="font14 go-right">{{delivery.createdAt}}</span></p>
            </div>
            <div class="row pv12 txt-right" style="border-top: 1px solid #ddd;">
                <div class="row">
                    <button @click="onClose" class="btn btn-default btn-sm mr12">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>