<div v-if="product._id" class="overlay">
    <div class="overlay">
        <div style="width: 560px;background: white;border-radius: 4px;position: absolute;top:24px;left: 50%;transform: translateX(-50%);">
            <div class="row p12 pv12" style="border-bottom: 1px solid #ddd">
                <b class="font16">Tracking Order</b>
                <i @click="onClose" class="fa fa-times p3 go-right pointer"></i>
            </div>
            <div class="row p16">
                <label for="trackingNo" class="font14">Tracking No</label>
                <input v-model="body.trackingNo" id="trackingNo" type="number" class="input" />
            </div>
            <div class="row p12 txt-right" style="border-top: 1px solid #ddd;">
                <div v-if="!isUpdating" class="row">
                    <button @click="onClose" class="btn btn-default mr6">Close</button>
                    <button @click="onUpdate" class="btn btn-info">Save</button>
                </div>
                <div v-else class="row">
                    <button class="btn btn-info">Loading...</button>
                </div>
            </div>
        </div>
    </div>
</div>