<div v-if="product" class="overlay">
    <div class="overlay">
        <div style="width: 560px;background: white;border-radius: 4px;position: absolute;top:24px;left: 50%;transform: translateX(-50%);">
            <div class="row ph16 pv12" style="border-bottom: 1px solid #ddd">
                <b class="font16">Confirm Payment</b>
                <i @click="onClose" class="fa fa-times p3 go-right pointer"></i>
            </div>
            <div class="row p16">
                <div class="row mb16">
                    <table class="table">
                        <thead style="border-bottom: 1px solid #ddd">
                            <th width="50px" class="txt-center"><small>Image</small></th>
                            <th><small>Product</small></th>
                            <th><small>Qty</small></th>
                            <th><small>Size</small></th>
                            <th><small>Color</small></th>
                            <th class="txt-right"><small>Price</small></th>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="txt-center">
                                    <img :src="product.images && product.images[0] ? product.images[0] : require('@/assets/images/default.jpeg')" style="height:36px" />
                                </td>
                                <td>
                                    <small>{{product.name}}</small>
                                </td>
                                <td><small>{{product.qty}}</small></td>
                                <td><small>{{product.size}}</small></td>
                                <td><small>{{product.color}}</small></td>
                                <td class="txt-right"><small>{{$helper.formatPrice(product.price)}}</small></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p class="item-info">Order ID : <span class="go-right">{{product._id}}</span></p>
                <p class="item-info">Quantity : <span class="go-right">{{product.qty}}</span></p>
                <p class="item-info">Price : <span class="go-right">{{$helper.formatPrice(product.price)}}</span></p>
                <p v-if="product.shippingPrice" class="item-info">Shipping Price : <span class="go-right">{{$helper.formatPrice(product.shippingPrice)}}</span></p>
                <p class="item-info txt-capitalize">Status : <span class="go-right">{{product.status}}</span></p>
                <p class="item-info">Created at : <span class="go-right">{{product.createdAt}}</span></p>
                <div hidden class="row mb12 mt12">
                    <label>Payment Type</label>
                    <select v-model="body.paymentType" class="input">
                        <option value="cash">Cash</option>
                        <option value="aba">ABA</option>
                    </select>
                </div>
                <div class="row mb16 mt12">
                    <p class="mb0">Payment Attachment</p>
                    <label for="choose-attachment" class="pointer">
                        <img v-if="body.imageFile" :src="fileToPath(body.imageFile)" class="row img-cover" />
                        <div v-else class="row" style="background: #ddd;border-radius: 4px;text-align: center;padding: 50px 0">
                            Click to upload Attachment
                        </div>
                    </label>
                    <input @change="chooseImage($event)" id="choose-attachment" hidden type="file" accept="images/*" />
                </div>
            </div>
            <div class="row p12 txt-right" style="border-top: 1px solid #ddd;">
                <div v-if="!isUpdating" class="row">
                    <button @click="onClose" class="btn btn-default mr12">Close</button>
                    <button @click="onValidation" class="btn btn-danger">Payment</button>
                </div>
                <div v-if="isUpdating" class="row">
                    <button class="btn btn-danger btn-md">Loading...</button>
                </div>
            </div>
        </div>
    </div>
</div>