<div class="row p6">
    <div class="row">
        <p class="font20 go-left"><b>Refunds</b></p>
    </div>
    <div class="row bg-white">
        <table class="table">
            <thead style="border-bottom: 1px solid #ddd">
                <th width="50px" class="txt-center">#</th>
                <th width="70px" class="txt-center">Image</th>
                <th>Item</th>
                <th width="100px">Quantity</th>
                <th width="100px">Size</th>
                <th width="100px">Color</th>
                <th width="100px" class="txt-right">Price</th>
                <th width="100px" class="txt-center">Status</th>
                <th width="170px">Created At</th>
                <th width="100px" class="txt-center">Action</th>
            </thead>
            <tbody v-if="!isFetching">
                <tr v-for="(product, productIndex) in products" :key="product._id">
                    <td class="txt-center">{{productIndex+1}}</td>
                    <td class="txt-center">
                        <img :src="product.images && product.images[0] ? product.images[0] : require('@/assets/images/default.jpeg')" style="height:36px" />
                    </td>
                    <td>
                       <p class="mb0"><a :href="product.url" target="_blank" class="txt-info mb0"><b>{{product.name}}</b></a></p>
                        <span class="font12 txt-secondary">{{product._id}}</span>
                    </td>
                    <td>{{product.qty}}</td>
                    <td>{{product.size}}</td>
                    <td>{{product.color}}</td>
                    <td class="txt-right">{{$helper.formatPrice(product.price)}}</td>
                    <td class="txt-center txt-capitalize">
                       {{product.status}}
                    </td>
                    <td>{{product.createdAt | moment("DD-MM-YYYY HH:MM:SSA")}}</td>
                    <td class="txt-center">
                        <button @click="detail = product" class="btn btn-info btn-xs pv3 ph12 mr3"><i class="fa fa-eye"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <Pagination v-if="!isFetching && products[0]" :pagination="pagination" @changePageSize="changePageSize">
        </Pagination>
        <div v-if="!isFetching && !products[0]" class="row p50 txt-center">
            No Product
        </div>
        <div v-if="isFetching" class="row p50 txt-center">
            Loading...
        </div>
    </div>

    <ModalDetail v-if="detail" :product="detail" @onClose="onClose"></ModalDetail>
</div>