<div class="row">
    <div class="row p12 bg-white border-bottom" style="position: sticky;top:0;z-index: 99;">
        <span class="font20 go-left"><b>BuyEasier</b></span>
        <span @click="onLogout" class="go-right mt4 ph6 border-left hover">Log Out</span>
        <router-link :to="{name: 'create-order'}" class="go-right mt4 ph6 txt-black hover">New Order</router-link>
    </div>
    <div class="row p16">
        <p>
            <b class="mr50">Your Orders</b>
            <router-link :to="{name: 'list-order', query:{orderType: 'cart'}}" @click="switchOrderType('cart')" :class="orderType == '' || orderType == 'cart' ? 'txt-success' : 'txt-secondary'" class="ph12">Cart</router-link>
            <router-link :to="{name: 'list-order', query:{orderType: 'requestOrder'}}" :class="orderType == 'requestOrder' ? 'txt-success' : 'txt-secondary'" class="ph12">Order Requested</router-link>
            <router-link :to="{name: 'list-order', query:{orderType: 'verified'}}" :class="orderType == 'verified' ? 'txt-success' : 'txt-secondary'" class="ph12">Verified</router-link>
            <router-link :to="{name: 'list-order', query:{orderType: 'payment'}}" :class="orderType == 'payment' ? 'txt-success' : 'txt-secondary'" class="ph12">Payment</router-link>
            <router-link :to="{name: 'list-order', query:{orderType: 'process'}}" :class="orderType == 'process' ? 'txt-success' : 'txt-secondary'" class="ph12">Process</router-link>
            <router-link :to="{name: 'list-order', query:{orderType: 'completed'}}" :class="orderType == 'completed' ? 'txt-success' : 'txt-secondary'" class="ph12">Completed</router-link>
            <router-link :to="{name: 'list-order', query:{orderType: 'failed'}}" :class="orderType == 'failed' ? 'txt-success' : 'txt-secondary'" class="ph12">Failed</router-link>
            <!-- <button @click="onUpdateProductTo('cart')" class="btn btn-info txt-capitalize pv3 ph12 go-right">Update to Cart</button>
            <button @click="onUpdateProductTo('requestOrder')" class="btn btn-info txt-capitalize pv3 ph12 go-right mr12">Update to RequestOrder</button> -->
        </p>
        <div class="row">
            <Cart v-if="orderType == 'cart'"></Cart>
            <ProductRequested v-if="orderType == 'requestOrder'"></ProductRequested>
            <Verified v-if="orderType == 'verified'"></Verified>
            <Payment v-if="orderType == 'payment'"></Payment>
            <Process v-if="orderType == 'process'"></Process>
            <Completed v-if="orderType == 'completed'"></Completed>
            <Failed v-if="orderType == 'failed'"></Failed>
        </div>
    </div>

    <!-- <Timeline v-if="detail._id" :detail="detail"></Timeline> -->
</div>