<div v-if="detail" style="width: 100%;height: 100%;background: rgba(0,0,0,.5);position: fixed;top:0;left:0;padding: 24px 20%;z-index: 99">
    <div class="row" style="width: 100%;height:100%;background:#fff;border-radius: 4px;overflow-y: auto;">
        <div class="row txt-center" style="background:#343a40;padding: 20px 16px;color:white;font-size:20px;text-transform: uppercase;position: sticky;top:0;z-index: 999;">
            Tracking order No - {{detail._id}}
            <i @click="onClose" class="fa fa-times pt6 ph6 pointer go-right"></i>
        </div>
        <div class="row txt-center pv24 " style="display:block">
            <!-- <div class="item-timeline">
                <div :class="detail.timeLine.checkoutAt? 'timeline-line-active' : 'timeline-line' "></div>
                <div :class="detail.timeLine.checkoutAt? 'timeline-icon-active' : 'timeline-icon'">
                    <img :src="require('@/assets/icons/ic-checkout.png')" class="ic-timeline" />
                </div>
                <p class="mb0">Checkout</p>
                <p class="font12 mb0">{{detail.timeLine.checkoutAt | moment("DD-MM-YYYY HH:MM:SS A") || `N/A`}}</p>
            </div> -->
            <div class="item-timeline">
                <div :class="detail.timeLine.paymentconfirmAt? 'timeline-line-active' : 'timeline-line' "></div>
                <div :class="detail.timeLine.paymentconfirmAt? 'timeline-icon-active' : 'timeline-icon'">
                    <img :src="require('@/assets/icons/ic-payment.png')" class="ic-timeline" />
                </div>
                <p class="mb0">Payment Confirm</p>
                <p class="font12 mb0">{{detail.timeLine.paymentconfirmAt || `N/A`}}</p>
            </div>
            <div class="item-timeline">
                <div :class="detail.timeLine.processAt? 'timeline-line-active' : 'timeline-line' "></div>
                <div :class="detail.timeLine.processAt? 'timeline-icon-active' : 'timeline-icon'">
                    <img :src="require('@/assets/icons/ic-process.png')" class="ic-timeline" />
                </div>
                <p class="mb0">Process</p>
                <p class="font12 mb0">{{detail.timeLine.processAt || `N/A`}}</p>
            </div>
            <div class="item-timeline">
                <div :class="detail.timeLine.arriveppAt? 'timeline-line-active' : 'timeline-line' "></div>
                <div :class="detail.timeLine.arriveppAt? 'timeline-icon-active' : 'timeline-icon'">
                    <img :src="require('@/assets/icons/ic-arrive.png')" class="ic-timeline" />
                </div>
                <p class="mb0">Arrive PP</p>
                <p class="font12 mb0">{{detail.timeLine.arriveppAt || `N/A`}}</p>
            </div>
            <div class="item-timeline">
                <div :class="detail.timeLine.completedAt? 'timeline-line-active' : 'timeline-line' "></div>
                <div :class="detail.timeLine.completedAt? 'timeline-icon-active' : 'timeline-icon'">
                    <img :src="require('@/assets/icons/ic-complete.png')" class="ic-timeline" />
                </div>
                <p class="mb0">Completed</p>
                <p class="font12 mb0">{{detail.timeLine.completedAt || `N/A`}}</p>
            </div>
        </div>

        <div class="row mb20">
            <div class="col-1"></div>
            <div class="col-10 mt7">
                <p><b>Timeline</b></p>
                <table class="table">
                    <tbody>
                        <tr v-for="(value, name, index) in detail.timeLine">
                            <td class="txt-capitalize"><b>{{name}}</b></td>
                            <td>: {{value | moment("DD-MM-YYYY HH:MM:SS A") || `N/A`}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>